

##{$welcomeString}-section {
  background: url(../images/rzeszow-welcome.png) rgba(255, 255, 255, 0.3);
  //if-else
  @if ($showBackgroundDimmed == true) {
    background-blend-mode: lighten;
  }
  @else {
    background-blend-mode: darken;
  }

  background-size: cover;
  background-repeat: no-repeat;
  height: 50+50vh;
  font-size: 25px;
}

//variable expansion in selectors
.#{$welcomeString}-container h1 {
  font-weight: 4 * 200;
  margin: 0;
  font-size: clamp(15px, 8vw, 120px);
}

.#{$welcomeString}-container {
  @extend %flex-setup-row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.#{$welcomeString}-text {
  margin-left: clamp(20px, 11vw, 100px);
  margin-bottom: 50px;
  max-width: 60vw;
}

@include only-for-mobile() {
  #welcome-section {
    background-size: cover;

    font-size: 25px;
  }

  .#{$welcomeString}-container {
    @include flex-setup(row);
    height: 100%;
    justify-content: flex-end;
  }

  .#{$welcomeString}-text {
    justify-content: flex-end;
    margin-left: clamp(13px, 8vw, 100px);
    margin-bottom: 50px;
    max-width: 90vw;
    font-size: 6vw;
  }

  .welcome-text h1 {
    font-size: 12vw;
  }
}

@media only screen and (max-width: 480px) {
  .welcome-text h1 {
    font-size: 12vw;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1940px) {
  #welcome-section {
    width: 100%;
  }
  .welcome-text h1 {
    font-size: 8vw;
  }
  .welcome-text {
    font-size: 2vw;
  }
}
